
    
<body>
<h1>Home Page!</h1>

<form method="POST"  action="/search">                   
<input type="text" name="recipes" maxlength="50" placeholder="recipe name">
<input type="text" name="main" maxlength="100" placeholder="main ingredient" >
<input type="text" name="time" maxlength="50" placeholder="time" >
<button>Search</button>
<button>Add</button>
<button>Delete</button>
</form>
</body>






