<h1>Home Page!</h1>

<p>Your recipe for the day:</p>
<blockquote>{{recipe}}</blockquote>



<div id="search">
<form method="post" action="../recipes.js">                   
<input type="text" name="search" maxlength="50" id="searchfield" title="searchfield" value="type your recipe here."/>
<input type="submit" name="Search" value="Search" alt="Search" id="searchbutton" title="Search" />
</form>
</div>